<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="jME3" sequenceNumber="1">
<locations>
<location path="${workspace_loc}\jME3 Target Platform\plugins" type="Directory"/>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.equinox.sdk.feature.group" version="3.10.0.v20140606-1602"/>
<repository location="http://download.eclipse.org/releases/luna"/>
</location>
</locations>
</target>
